/*hTrixx.css*/

/*----------------------------------------Cards---------------------------------------------*/

.h-card-main {
    border: 0.5px solid #d9d9d9;
    border-radius: 3px;
    width: 300px;
    min-height: 50px;
}

.h-card-title {
    padding: 10px;
    border-bottom: 0.5px solid #d9d9d9;
    margin-bottom: -15px;
    font-size: 18px;
    font-weight: bold;
}

.h-card-img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

.h-card-content {
    padding: 10px;
    border-bottom: 0.5px solid #d9d9d9;
}

.h-card-footer {
    padding: 10px;
}

.h-login-logo {
    border-radius: 50%;
    width: 50%;
}
/*----------------------------------------Sidenav-------------------------------------------*/
.h-sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #e6e6e6;
    overflow-x: hidden;
    padding-top: 20px;
    transition: 0.2s ease-in-out;
    padding-top: 80px;
}

    .h-sidenav a,
    .h-dropdown-btn {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 18px;
        color: #525252;
        display: block;
        border: none;
        background: none;
        width: 100%;
        text-align: left;
        cursor: pointer;
        outline: none;
        transition: 0.5s ease-in-out;
    }

        .h-sidenav a:hover,
        .h-dropdown-btn:hover {
            color: black;
            background: linear-gradient(90deg,#fafafa,#d9d9d9,#fafafa);
        }

.h-main {
    font-size: 20px;
    padding: 0px 10px;
}

.h-active {
    background-color: #5e5e5e;
    color: white;
}


.h-dropdown-container {
    display: none;
    background-color: #2e2e2e;
    padding-left: 8px;
    transition: 0.2s all;
}

    .h-dropdown-container a {
        color: #aba8a8;
        font-size: 14px;
    }

        .h-dropdown-container a:hover {
            color: white;
        }


.fa-caret-down {
    float: right;
    padding-right: 8px;
    padding-top: 5px;
}



@media screen and (max-height: 450px) {
    .h-sidenav {
        padding-top: 15px;
    }

        .h-sidenav a {
            font-size: 18px;
        }
}



.active-sidenav {
    color: #450144 !important;
    border-bottom: 1px solid #878787 !important;
    background-color: #e9e9e9;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #fff; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    border-right: 1px solid #878787;
}

    /* The navigation menu links */
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 16px;
        color: #2c2c2c;
        display: block;
        transition: 0.3s;
        border-bottom: 1px solid transparent;
    }

        /* When you mouse over the navigation links, change their color */
        .sidenav a:hover {
            color: #450144;
            border-bottom: 1px solid #878787 !important;
            background-color: #e9e9e9;
        }

    /* Position and style the close button (top right corner) */
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    /*padding: 20px;*/
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

/*-----------------------------------------------------------------------*/

.h-code {
    background-color: white;
    color: #1c1c1c;
    border: 0.5px solid #bdbdbd;
    border-radius: 3px;
}

.h-code-snippet {
    border-bottom: 0.5px solid #bdbdbd;
    border-radius: 3px;
    height: 30px;
}

    .h-code-snippet p {
        font-size: 14px;
        padding: 5px;
        background-color: #c2c2c2;
    }

/*.h-loading {
    position: fixed;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    justify-content: center;
}*/

.h-blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    opacity: 0.5;
}

.animateLeft {
    animation: fading 5s infinite;
    position: relative;
    animation: animateleft 1.5s;
}

.animateRight {
    animation: fading 5s infinite;
    position: relative;
    animation: animateright 1.5s;
}



a {
    border: none !important;
}

    a:hover {
        transition: all 0.5s;
        cursor: pointer;
    }





/*BLKP-htrixx*/



/*-------------------Colors------------------*/

.h-primary-b-new {
    background: linear-gradient(-45deg, #a7d4ff,#58a5ef, #a7d4ff);
}

.h-danger-b-new {
    background: linear-gradient(-45deg, #be4444,#D50000, #be4444);
}

.h-warning-b-new {
    background: linear-gradient(-45deg, #cf8c77,#ff7043, #cf8c77);
}

.h-success-b-new {
    background: linear-gradient(-45deg, #a1ffa5, #30c437, #a0f9a4);
}

.h-slate-b-new {
    background: linear-gradient(-45deg, #0e3a38, #2dbeb7, #0e3a38);
}

.h-white-b-new {
    background: linear-gradient(-45deg, #d6d6d6, white, #d6d6d6);
}

.h-black-b-new {
    background: linear-gradient(-45deg, #1c1c1c,black, #1c1c1c);
}

.h-grey-b-new {
    background: linear-gradient(-45deg, #343a40,#1c1c1c, #343a40);
}

.h-gray-b-new {
    background: linear-gradient(-45deg, #e4e4e4,#d0d0d0, #e4e4e4);
}

.h-gold-b-new {
    background: linear-gradient(-45deg, #f2a300,#fbcf00, #f2a300);
}

.h-platinum-b-new {
    background: linear-gradient(-45deg, #1c1c1c,black, #1c1c1c);
}

.h-purple-b-new {
    background: linear-gradient(-45deg, #7616b9,#5a2580, #7616b9);
}

.h-purple {
    color: #701caa !important;
}

.h-purple-b {
    background-color: #450144 !important;
}

.h-primary {
    color: #58a5ef;
}

.h-primary-b {
    background-color: #58a5ef;
}

.h-danger {
    color: #D50000;
}

.h-danger-b {
    background-color: #D50000;
}

.h-warning {
    color: #ff7043;
}

.h-warning-b {
    background-color: #ff7043;
}

.h-success {
    color: #66bb6a;
}

.h-success-b {
    background-color: #66bb6a;
}

.h-black {
    color: black;
}

.h-black-b {
    background-color: black;
}

.h-white {
    color: white;
}

.h-white-b {
    background-color: white;
}

.h-grey{
    color: #5e5e5e;
}

.h-grey-b {
    background-color: #5e5e5e;
}

.h-darkslategrey {
    color: darkslategrey !important;
}

.h-darkslategrey-b {
    background-color: darkslategrey !important;
}


/*-----------------------------------------------------------------------------------*/

.h-navbar {
    overflow: hidden;
}

    .h-navbar a {
        float: left;
        display: block;
        text-align: center;
        padding: 18px 20px;
        text-decoration: none;
        font-size: 17px;
        transition: 0.2s ease-in-out;
    }

    .h-navbar .icon {
        display: none;
    }

.h-fixed-top {
    position: fixed;
    margin-top: 0;
}

.h-nav-small {
    height: 50px;
}

    .h-nav-small a {
        padding-top: 12px;
    }

.h-nav-medium {
    height: 65px;
}

    .h-nav-medium a {
        padding-top: 22px;
    }

.h-nav-large {
    height: 80px;
}

    .h-nav-large a {
        padding-top: 50px;
    }

@media screen and (max-width: 600px) {
    .h-navbar a:not(:first-child) {
        display: none;
        transition: 0.2s ease-in-out;
    }

    .h-navbar a.icon {
        float: right;
        display: block;
        transition: 0.2s ease-in-out;
    }


    .h-navbar.responsive {
        position: relative;
        transition: 0.2s ease-in-out;
    }

        .h-navbar.responsive a.icon {
            position: absolute;
            right: 0;
            top: 0;
            transition: 0.2s ease-in-out;
        }

        .h-navbar.responsive a {
            float: none;
            display: block;
            text-align: left;
            transition: 0.2s ease-in-out;
        }
}

.h-navbar-light {
    background-color: #fcfcfc;
}


    .h-navbar-light a {
        color: #2c2c2c;
    }

        .h-navbar-light a:hover {
            background-color: #404040;
            color: white;
        }

        .h-navbar-light a.h-nav-active {
            background-color: #2c2c2c;
            color: white;
        }

.h-navbar-dark {
    background-color: #2c2c2c;
}

    .h-navbar-dark a {
        color: #fcfcfc;
    }

        .h-navbar-dark a:hover {
            background-color: #f2f2f2;
            color: black;
        }

        .h-navbar-dark a.h-nav-active {
            background-color: #fcfcfc;
            color: #2c2c2c;
        }


/*-----------------------------------Table--------------------------------------*/

table {
    border-collapse: collapse;
    border-radius: 6px;
    -moz-border-radius: 6px;
    width: 100%;
    font-size: 16px;
}

    table tr td:hover {
        cursor: pointer;
    }

    table th,
    td,
    tr {
        border: 1px solid rgb(122, 122, 122) !important;
        padding: 8px;
    }

    table tr:hover {
        background-color: rgb(122, 122, 122);
        color: white;
    }

    table th {
        padding-top: 8px;
        padding-bottom: 8px;
        text-align: left;
        background-color: #5e5e5e;
        color: white;
    }

.tbl-bordless th,
.tbl-bordless td,
.tbl-bordless tr {
    border: none !important;
}

.tbl-small {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    font-size: 14px;
}

    .tbl-small th {
        padding-top: 6px !important;
        padding-bottom: 6px !important;
        font-size: 14px;
    }

.tbl-large {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-size: 18px;
}

    .tbl-large th {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        font-size: 18px;
    }

.tbl-primary th {
    background-color: #58a5ef;
}

.tbl-purple th {
    background-color: #7616b9;
}

.tbl-danger th {
    background-color: #D50000;
}

.tbl-warning th {
    background-color: #ff7043;
}

.tbl-success th {
    background-color: #66bb6a;
}

.tbl-white th {
    background-color: white;
    color: #1c1c1c;
}

.tbl-white-b tr:hover {
    background-color: white;
    color: #1c1c1c;
}


.tbl-primary-b tr:hover {
    background-color: #88bdee;
    color: white;
}

.tbl-purple-b tr:hover {
    background-color: #7616b9;
    color: white;
}

.tbl-danger-b tr:hover {
    background-color: rgb(209, 47, 47);
    color: white;
}

.tbl-warning-b tr:hover {
    background-color: #f88461;
    color: white;
}

.tbl-success-b tr:hover {
    background-color: #8dc08f;
    color: white;
}

/*-----------------------Messages-------------------------*/

.h-ms-body {
    border: 0.5px solid #878787;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    background-color: #f8f8f8;
}


.h-ms-avatarBody {
    display: inline-block;
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
    margin-top: 5px;
    margin-left: 10px;
}

.h-ms-avatar {
    margin: 0 auto;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.h-ms-name {
    margin-top: 7px;
    margin-left: 30px;
    position: absolute;
}

.h-ms-delete {
    float: right;
    font-size: 12px !important;
}

.h-ms-text {
    font-size: 13px !important;
}


/*--------------------------------------------------------------------------------------------------General*/


.h-bottom-text {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: 200px;
}

.h-mt-5 {
    margin-top: -5px;
}

.h-mt-5 {
    margin-top: 5px;
}

.h-mt-10 {
    margin-top: 10px;
}

.h-mt-15 {
    margin-top: 15px;
}

.h-mt-20 {
    margin-top: 20px;
}

.h-mt-25 {
    margin-top: 25px;
}

.h-mt-30 {
    margin-top: 30px;
}

.h-mt-40 {
    margin-top: 40px;
}

.h-mt-50 {
    margin-top: 50px;
}

.h-mt-55 {
    margin-top: 55px;
}

.h-mt-60 {
    margin-top: 60px;
}

.h-mt-70 {
    margin-top: 70px;
}

.h-mt-80 {
    margin-top: 80px;
}

.h-mt-90 {
    margin-top: 90px;
}

.h-mt-100 {
    margin-top: 100px;
}

.h-mb-30 {
    margin-bottom: 30px;
}

.h-fs-10 {
    font-size: 10px;
}

.h-fs-15 {
    font-size: 15px;
}

.h-fs-20 {
    font-size: 20px;
}

.h-fs-25 {
    font-size: 25px;
}

.h-fs-30 {
    font-size: 30px;
}

.h-fs-35 {
    font-size: 35px;
}

.h-fs-40 {
    font-size: 40px;
}

.h-fs-45 {
    font-size: 45px;
}

.h-float-left {
    float: left;
}

.h-float-right {
    float: right;
}

.h-br-l {
    border-left: 0.3px solid grey;
}

.h-br-l-w {
    margin-top: 17px;
    border-left: 3px solid #f88461;
    height: 100% !important;
    width: 100%;
}

.h-br-l-s {
    margin-top: 17px;
    border-left: 3px solid #8dc08f;
    height: 100% !important;
    width: 100%;
}

.h-mw-25 {
    min-width: 25px;
}

.h-mw-50 {
    min-width: 50px;
}

.h-mw-100 {
    min-width: 100px;
}

.h-mw-200 {
    min-width: 200px;
}

.h-mw-300 {
    min-width: 300px;
}

.h-mw-400 {
    min-width: 400px;
}

.h-mw-500 {
    min-width: 500px;
}

.h-ml-5 {
    margin-left: 5px;
}

.h-ml-10 {
    margin-left: 10px;
}

.h-ml-15 {
    margin-left: 15px;
}

.h-ml-20 {
    margin-left: 20px;
}

.h-ml-25 {
    margin-left: 25px;
}

.h-ml-30 {
    margin-left: 30px;
}

.h-ml-35 {
    margin-left: 35px;
}

.h-transparent {
    background: transparent !important;
    background-color: transparent !important;
}

.h-round {
    border-radius: 5px;
}

.h-center-text {
    text-align: center;
    padding: 5px;
}

.h-right-text {
    text-align: right;
    padding: 5px;
}

.h-left-text {
    text-align: left;
    padding: 5px;
}

.h-t-10 {
    font-size: 10px;
}

.h-t-15 {
    font-size: 15px;
}

.h-t-20 {
    font-size: 20px;
}

.h-t-25 {
    font-size: 25px;
}

.h-t-30 {
    font-size: 30px;
}

.h-p-10 {
    padding: 10px;
}

.h-p-15 {
    padding: 15px;
}

.h-p-20 {
    padding: 20px;
}

.h-p-25 {
    padding: 25px;
}

.h-p-30 {
    padding: 30px;
}

.h-p-r-200 {
    padding-right: 200px;
}

.h-p-r-300 {
    padding-right: 300px;
}

.h-p-r-400 {
    padding-right: 400px;
}

.h-p-r-500 {
    padding-right: 500px;
}


.h-p-l-200 {
    padding-left: 200px;
}

.h-p-l-300 {
    padding-left: 300px;
}

.h-p-l-400 {
    padding-left: 400px;
}

.h-p-l-500 {
    padding-left: 500px;
}

.h-m-10 {
    margin: 10px;
}

.h-m-15 {
    margin: 15px;
}

.h-m-20 {
    margin: 20px;
}

.h-m-25 {
    margin: 25px;
}

.h-m-30 {
    margin: 30px;
}

.h-width-0 {
    width: 0% !important;
}

.h-width-10 {
    width: 10% !important;
}

.h-width-20 {
    width: 20% !important;
}

.h-width-30 {
    width: 30% !important;
}

.h-width-40 {
    width: 40% !important;
}

.h-width-50 {
    width: 50% !important;
}

.h-width-60 {
    width: 60% !important;
}

.h-width-70 {
    width: 70% !important;
}

.h-width-80 {
    width: 80% !important;
}

.h-width-90 {
    width: 90% !important;
}

.h-width-100 {
    width: 100% !important;
}

.height-100 {
    height: 100px;
}

.height-200 {
    height: 200px;
}

.height-300 {
    height: 300px;
}

.height-400 {
    height: 400px;
}

.height-500 {
    height: 500px;
}

.height-600 {
    height: 600px;
}

.height-700 {
    height: 700px;
}

.height-800 {
    height: 800px;
}

.height-900 {
    height: 900px;
}

.height-1000 {
    height: 1000px;
}

.height-150 {
    height: 150px;
}

.height-250 {
    height: 250px;
}

.height-350 {
    height: 350px;
}

.height-450 {
    height: 450px;
}

.height-550 {
    height: 550px;
}

.height-650 {
    height: 650px;
}

.height-750 {
    height: 750px;
}

.height-850 {
    height: 850px;
}

.height-950 {
    height: 950px;
}

.font-hand-1 {
    font-family: 'Marck Script', cursive;
}

.h-row {
    display: inline-block;
    width: 100%;
    position: relative;
    display: inline-block;
}

.h-slow {
    transition: all 1s;
}

.absolutemiddle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.fixedmiddle {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.htx_header {
    border-radius: 5px;
    background-color: #7616b9;
    padding: 10px;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 50000 !important;
}

/*-------------------Select--------------------*/

select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

/*-------------------------------------Scroll------------------------------------*/

::-webkit-scrollbar {
    width: 5px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #ffffff;
    border: 1px solid grey;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/dark_mosaic.png");
    border-radius: 3px;
}


    /* Handle on hover */

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

.h-scroll {
    overflow-y: scroll;
}

/*------------------------------------Inputs-----------------------------------------*/

input:not([type]),
input[type="text"],
input{
    position: unset;
    padding: 0.5%;
    text-decoration: none;
    border: 1px solid rgb(209, 209, 209);
    padding-top: 10px;
    width: 180px;
    height: 35px;
    max-width: none;
    background: white;
    border-radius: 3px;
    transition: 0.3s all;
    font-size: 14px !important;
}

    input:not([type]):hover, input[type="text"]:hover,input:hover {
        box-shadow: #878787 0px 0px 10px -3px;
        outline: none;
    }

    input:not([type]):focus, input[type="text"]:focus, input:focus {
        box-shadow: #878787 0.5px 0.5px 5px 0.5px;
        outline: none;
    }

    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"]{
        cursor:pointer;
    }
    /*--------------------------------------Select------------------------------------*/
    select {
        padding: 0.5%;
        border: none;
        text-decoration: none;
        border-bottom: 1px solid black;
        width: 200px;
    }

option {
    border: none;
    text-decoration: none;
    padding: 10px;
}

    option:hover {
        background-color: #757575 !important;
    }


/*---------------------------------------------------------------------------input colors*/

.txt-darkslategrey {
    border: 0.5px solid #4fc1ba !important;
}

    .txt-darkslategrey:hover {
        border: 0.5px solid #4fc1ba !important;
        box-shadow: #4fc1ba 0px 0px 10px -3px !important;
    }

    .txt-darkslategrey:focus {
        border: 0.5px solid #4fc1ba !important;
        box-shadow: #4fc1ba 0.5px 0.5px 5px 0.5px !important;
    }

.txt-purple {
    border: 0.5px solid #7616b9 !important;
}

    .txt-purple:hover {
        border: 0.5px solid #7616b9 !important;
        box-shadow: #7616b9 0px 0px 10px -3px !important;
    }

    .txt-purple:focus {
        border: 0.5px solid #7616b9 !important;
        box-shadow: #7616b9 0.5px 0.5px 5px 0.5px !important;
    }

.txt-primary {
    border: 0.5px solid #58a5ef !important;
}

    .txt-primary:hover {
        border: 0.5px solid #58a5ef !important;
        box-shadow: #58a5ef 0px 0px 10px -3px !important;
    }

    .txt-primary:focus {
        border: 0.5px solid #58a5ef !important;
        box-shadow: #58a5ef 0.5px 0.5px 5px 0.5px !important;
    }

.txt-danger {
    border: 0.5px solid #D50000 !important;
}

    .txt-danger:hover {
        border: 0.5px solid #D50000 !important;
        box-shadow: #D50000 0px 0px 10px -3px !important;
    }

    .txt-danger:focus {
        border: 0.5px solid #D50000 !important;
        box-shadow: #D50000 0.5px 0.5px 5px 0.5px !important;
    }

.txt-warning {
    border: 0.5px solid #ff7043 !important;
}

    .txt-warning:hover {
        border: 0.5px solid #ff7043 !important;
        box-shadow: #ff7043 0px 0px 10px -3px !important;
    }

    .txt-warning:focus {
        border: 0.5px solid #ff7043 !important;
        box-shadow: #ff7043 0.5px 0.5px 5px 0.5px !important;
    }

.txt-success {
    border: 0.5px solid #66bb6a !important;
}

    .txt-success:hover {
        border: 0.5px solid #66bb6a !important;
        box-shadow: #66bb6a 0px 0px 10px -3px !important;
    }

    .txt-success:focus {
        border: 0.5px solid #66bb6a !important;
        box-shadow: #66bb6a 0.5px 0.5px 5px 0.5px !important;
    }

/*--------------------------------------Button-----------------------------------*/



button {
    padding: 3px 13px 3px 13px;
    border: none;
    font-size: 14px !important;
    margin: 0 !important;
}

    button:hover {
        background-position: 0px 1.6em;
        box-shadow: 0px 0px 6px #969696, 0px 0px 0px #aba8a8;
    }

    button:active {
        background-position: 10px;
        box-shadow: 0px 0px 6px #969696, 0px 0px 0px #aba8a8;
    }

    button:focus {
        border: none !important;
        text-decoration: none;
    }

html {
    box-sizing: border-box;
}

.h-btn-small {
    padding: 2px 10px 2px 10px;
    font-weight: lighter;
    font-size: 12px !important;
}

.h-btn-medium {
    padding: 3px 13px 3px 13px;
    font-weight: normal;
    font-size: 14px !important;
}

.h-btn-large {
    padding: 5px 15px 5px 15px;
    font-weight: bolder;
    font-size: 16px !important;
}

.h-btn-extra-large {
    padding: 8px 20px 8px 20px;
    font-weight: bolder;
    font-size: 18px !important;
}

.h-btn-round {
    border-radius: 3em !important;
}

.h-btn-flat {
    border-radius: 0 !important;
}

.h-btn-round-right {
    border-radius: 0em 3em 3em 0em !important;
}

.h-btn-round-left {
    border-radius: 3em 0em 0em 3em !important;
}

.h-btn-group button {
    display: block;
    float: left;
}


/*---------------------------Buttons-Colors-And-Styles-------------------------------------*/


.h-btn {
    border-radius: 3px;
    transition: background 0.2s ease-out;
    background-size: 10em 10em;
    background-position: 0px;
}

    

.h-btn-slategray {
    background: linear-gradient(-45deg, #0e3a38, #4fc1ba, #0e3a38);
    color: white;
}

.h-btn-purple {
    background: linear-gradient(-45deg, #3e0c60, #6b17a5, #3e0c60);
    color: white;
}

.h-btn-black {
    background: linear-gradient(-45deg, #404040, black, #404040);
    color: white;
}

.h-btn-primary {
    background: linear-gradient(-45deg, #6bb2f5, #2d7ac4, #6bb2f5);
    color: white;
}

.h-btn-warning {
    background: linear-gradient(-45deg, #ff8a66, #ff531d, #ff8a66);
    color: white;
}

.h-btn-danger {
    background: linear-gradient(-45deg, #ff8888, #D50000, #ff8888);
    color: white;
}

.h-btn-success {
    background: linear-gradient(-45deg, #07ef11, #30c437, #07ef11);
    color: white;
}

.h-btn-platinum {
    background: linear-gradient(-45deg, #dcdcdc, white, #dcdcdc);
    color: black;
}

.h-btn-gold {
    background: linear-gradient(-45deg, #f2a300,#f8e99f, #f2a300);
    color: white;
}




.h-btn-fade-dark {
    background: linear-gradient(-90deg,white,white,black,black);
    color: white;
    border-radius: 3px;
    transition: all 0.4s ease-out;
    background-size: 800px 100px;
}

    .h-btn-fade-dark:hover {
        background-position: 150px;
        box-shadow: 0px 0px 6px #969696, 0px 0px 0px #aba8a8;
        color: black;
    }

    .h-btn-fade-dark:active {
        background-position: 150px;
        box-shadow: 0px 0px 6px #969696, 0px 0px 0px #aba8a8;
        color: black;
    }

    .h-btn-fade-dark:focus {
        border: none !important;
        text-decoration: none;
    }

.h-btn-fade-light {
    background: linear-gradient(-90deg,black,black,white,white);
    color: black;
    border-radius: 3px;
    transition: all 0.4s ease-out;
    background-size: 800px 150px;
}

    .h-btn-fade-light:hover {
        background-position: 150px;
        box-shadow: 0px 0px 6px white, 0px 0px 0px white;
        color: white;
    }

    .h-btn-fade-light:active {
        background-position: 150px;
        box-shadow: 0px 0px 6px white, 0px 0px 0px white;
        color: white;
    }

    .h-btn-fade-light:focus {
        border: none !important;
        text-decoration: none;
    }



.h-btn-r-dark {
    background-color: #2c2c2c;
    color: white;
    border-radius: 3px;
    transition: all 0.4s ease-out;
}

    .h-btn-r-dark:hover {
        box-shadow: 0px 0px 6px white, 0px 0px 0px white;
        background-color: white;
        color: black;
    }

    .h-btn-r-dark:active {
        box-shadow: 0px 0px 6px white, 0px 0px 0px white;
        background-color: white;
        color: black;
    }

    .h-btn-r-dark:focus {
        border: none !important;
        text-decoration: none;
    }



.h-btn-r-light {
    background-color: white;
    color: black;
    border-radius: 3px;
    transition: all 0.4s ease-out;
}

    .h-btn-r-light:hover {
        box-shadow: 0px 0px 6px white, 0px 0px 0px white;
        background-color: #2c2c2c;
        color: white;
    }

    .h-btn-r-light:active {
        box-shadow: 0px 0px 6px white, 0px 0px 0px white;
        background-color: #2c2c2c;
        color: white;
    }

    .h-btn-r-light:focus {
        border: none !important;
        text-decoration: none;
    }




/*------------------------------------------------------------------------------------Progress*/

.h-progress {
    width: 100%;
    border: 4px solid #5b1c89;
    border-radius: 1em;
    height: 2em;
    transition: .5s;
    background: #fff;
    color: white;
}


    .h-progress::before {
        content: attr(data-label);
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(var(--width,0));
        min-width: 5%;
        max-width: 100%;
        background: #7616b9;
        border-radius: 1em;
        transition: .5s;
        height: 1.5em;
        padding-left: -01px;
        padding-right: 01px;
    }

#h-progress-primary {
    border: 4px solid #3d15be !important;
}

#h-progress-purple {
    border: 4px solid #7616b9 !important;
}

#h-progress-danger {
    border: 4px solid #D50000 !important;
}

#h-progress-warning {
    border: 4px solid #ff7043 !important;
}

#h-progress-success {
    border: 4px solid #66bb6a !important;
}

#h-progress-primary::before {
    background: linear-gradient(-45deg,#3d15be,#4318ce,#3d15be) !important;
}

#h-progress-purple::before {
    background: linear-gradient(-45deg,#7616b9,#6814a2,#7616b9) !important;
}

#h-progress-danger::before {
    background: linear-gradient(-45deg,#D50000,#d82d2d,#D50000) !important;
}

#h-progress-warning::before {
    background: linear-gradient(-45deg,#ff7043,#fc602f,#ff7043) !important;
}

#h-progress-success::before {
    background: linear-gradient(-45deg,#66bb6a,#3fba45,#66bb6a) !important;
}

/*-----------------Allign------------------*/
.h-100 {
    width: 100%;
}

.h-99 {
    width: 99%;
}

.h-98 {
    width: 98%;
}

.h-97 {
    width: 97%;
}

.h-96 {
    width: 96%;
}

.h-95 {
    width: 95%;
}

.h-94 {
    width: 94%;
}

.h-93 {
    width: 93%;
}

.h-92 {
    width: 92%;
}

.h-91 {
    width: 91%;
}

.h-90 {
    width: 90%;
}

.h-89 {
    width: 89%;
}

.h-88 {
    width: 88%;
}

.h-87 {
    width: 87%;
}

.h-86 {
    width: 86%;
}

.h-85 {
    width: 85%;
}

.h-84 {
    width: 84%;
}

.h-83 {
    width: 83%;
}

.h-82 {
    width: 82%;
}

.h-81 {
    width: 81%;
}

.h-80 {
    width: 80%;
}

.h-79 {
    width: 79%;
}

.h-78 {
    width: 78%;
}

.h-77 {
    width: 77%;
}

.h-76 {
    width: 76%;
}

.h-75 {
    width: 75%;
}

.h-74 {
    width: 74%;
}

.h-73 {
    width: 73%;
}

.h-72 {
    width: 72%;
}

.h-71 {
    width: 71%;
}

.h-70 {
    width: 70%;
}

.h-69 {
    width: 69%;
}

.h-68 {
    width: 68%;
}

.h-67 {
    width: 67%;
}

.h-66 {
    width: 66%;
}

.h-65 {
    width: 65%;
}

.h-64 {
    width: 64%;
}

.h-63 {
    width: 63%;
}

.h-62 {
    width: 62%;
}

.h-61 {
    width: 61%;
}

.h-60 {
    width: 60%;
}

.h-59 {
    width: 59%;
}

.h-58 {
    width: 58%;
}

.h-57 {
    width: 57%;
}

.h-56 {
    width: 56%;
}

.h-55 {
    width: 55%;
}

.h-54 {
    width: 54%;
}

.h-53 {
    width: 53%;
}

.h-52 {
    width: 52%;
}

.h-51 {
    width: 51%;
}

.h-50 {
    width: 50%;
}

.h-49 {
    width: 49%;
}

.h-48 {
    width: 48%;
}

.h-47 {
    width: 47%;
}

.h-46 {
    width: 46%;
}

.h-45 {
    width: 45%;
}

.h-44 {
    width: 44%;
}

.h-43 {
    width: 43%;
}

.h-42 {
    width: 42%;
}

.h-41 {
    width: 41%;
}

.h-40 {
    width: 40%;
}

.h-39 {
    width: 39%;
}

.h-38 {
    width: 38%;
}

.h-37 {
    width: 37%;
}

.h-36 {
    width: 36%;
}

.h-35 {
    width: 35%;
}

.h-34 {
    width: 34%;
}

.h-33 {
    width: 33%;
}

.h-32 {
    width: 32%;
}

.h-31 {
    width: 31%;
}

.h-30 {
    width: 30%;
}

.h-29 {
    width: 29%;
}

.h-28 {
    width: 28%;
}

.h-27 {
    width: 27%;
}

.h-26 {
    width: 26%;
}

.h-25 {
    width: 25%;
}

.h-24 {
    width: 24%;
}

.h-23 {
    width: 23%;
}

.h-22 {
    width: 22%;
}

.h-21 {
    width: 21%;
}

.h-20 {
    width: 20%;
}

.h-19 {
    width: 19%;
}

.h-18 {
    width: 18%;
}

.h-17 {
    width: 17%;
}

.h-16 {
    width: 16%;
}

.h-15 {
    width: 15%;
}

.h-14 {
    width: 14%;
}

.h-13 {
    width: 13%;
}

.h-12 {
    width: 12%;
}

.h-11 {
    width: 11%;
}

.h-10 {
    width: 10%;
}

.h-9 {
    width: 9%;
}

.h-8 {
    width: 8%;
}

.h-7 {
    width: 7%;
}

.h-6 {
    width: 6%;
}

.h-5 {
    width: 5%;
}

.h-4 {
    width: 4%;
}

.h-3 {
    width: 3%;
}

.h-2 {
    width: 2%;
}

.h-1 {
    width: 1%;
}

.hm12 {
    width: 100%;
}

.hm11 {
    width: 91.66666666666667%;
    float: left;
}

.hm10 {
    width: 83.33333333333333%;
    float: left;
}

.hm9 {
    width: 75%;
    float: left;
}

.hm8 {
    width: 66.66666666666667%;
    float: left;
}

.hm7 {
    width: 58.333333333333336%;
    float: left;
}

.hm6 {
    width: 50%;
    float: left;
}

.hm5 {
    width: 41.666666666666664%;
    float: left;
}

.hm4 {
    width: 33.333333333333336%;
    float: left;
}

.hm3 {
    width: 25%;
    float: left;
}

.hm2 {
    width: 16.666666666666668%;
    float: left;
}

.hm1 {
    width: 8.333333333333334%;
    float: left;
}












/*-------------------------------------------------------------------------------------------------Loadings*/

.center-obj {
    display: flex;
    justify-content: center;
    align-items: center;
}

.h-loading {
    position: relative;
    width: 100px;
    height: 100px;
}

    .h-loading span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

        .h-loading span::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background: #5b1c89;
            box-shadow: 0 0 10px #5b1c89, 0 0 20px -2px #5b1c89;
        }

    .h-loading .h-load-1 {
        transform: rotate(calc(18deg * var(--i)));
    }

    .h-loading .h-load-2 {
        animation: animateBg 6s linear infinite;
        transform: rotate(calc(18deg * var(--i)));
    }

    .h-loading .h-load-3 {
        transform: rotate(calc(18deg * var(--i)));
    }

    .h-loading .h-load-4 {
        animation: animateBg 6s linear infinite;
        transform: rotate(calc(18deg * var(--i)));
    }

    .h-loading .h-load-5 {
        transform: rotate(calc(58deg * var(--i))) !important;
    }

    .h-loading .h-load-6 {
        animation: animateBg 6s linear infinite;
        transform: rotate(calc(58deg * var(--i))) !important;
    }

    .h-loading .h-load-7 {
        transform: rotate(calc(45deg * var(--i))) !important;
    }

    .h-loading .h-load-8 {
        animation: animateBg 6s linear infinite;
        transform: rotate(calc(45deg * var(--i))) !important;
    }

    .h-loading .h-load-1::before {
        animation: animate 2s linear infinite;
        animation-delay: calc(0.1s * var(--i));
    }

    .h-loading .h-load-2::before {
        animation: animate 2s linear infinite;
        animation-delay: calc(0.1s * var(--i));
    }

    .h-loading .h-load-3::before {
        animation: animate 1s linear infinite;
        animation-delay: calc(0.1s * var(--i));
    }

    .h-loading .h-load-4::before {
        animation: animate 1s linear infinite;
        animation-delay: calc(0.1s * var(--i));
    }

    .h-loading .h-load-5::before {
        animation: animate 1s linear infinite;
        animation-delay: calc(0.1s * var(--i));
    }

    .h-loading .h-load-6::before {
        animation: animate 1s linear infinite;
        animation-delay: calc(0.1s * var(--i));
    }

    .h-loading .h-load-7::before {
        animation: animate 1s linear infinite;
        animation-delay: calc(0.1s * var(--i));
    }

    .h-loading .h-load-8::before {
        animation: animate 1s linear infinite;
        animation-delay: calc(0.1s * var(--i));
    }




@keyframes animateBg {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

@keyframes animate {
    0% {
        transform: scale(1);
    }

    80%,100% {
        transform: scale(0);
    }
}
